@main("新規の質問登録") {
<form action="questions/post" method="get">
	title:<input type="text" name="title"><br>
	text:<input type="text" name="text"><br>
	choice1:<input type="text" name="choice1"><br>
	choice2:<input type="text" name="choice2"><br>
	choice3:<input type="text" name="choice3"><br>
	choice4:<input type="text" name="choice4"><br>
	choice5:<input type="text" name="choice5"><br>
	username:<input type="text" name="username"><br>
	password:<input type="text" name="password"><br>
	<input type="submit" value="送信">
</form>
}